/* Icon fonts */
@font-face {
	font-family: "tile";
	src: url("../font/tileset.ttf");
}
@font-face {
	font-family: "icons";
	src: url("../font/icons.ttf");
}

/* Animations */
@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Page-wide */
body {
	background: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Consolas", monospace;
	font-weight: bolder;
	height: 945px;
}
* {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
img {
	cursor: pointer;
}

/* Stats */
#stats {
	position: fixed;
	width: 100%;
	bottom: 24px;
	left: 24px;
	font-size: 1.5em;
	color: black;
}
#stats div {
	padding: 0;
	margin: 0 2.5% 0 0;
	text-align: left;
	color: black;
	display: block;
}
#stats img {
	height: 36px;
	padding: 4px;
	border-radius: 8px;
	vertical-align: middle;
	margin-right: 8px;
}
#stats span {
	background: black;
	color: white;
	padding: 2px;
	border-radius: 4px;
}

/* Room itself */
#room, #inv {
	position: absolute;
	text-align: center;
	font-size: 25px;
	left: 0;
	top: 0;
	/*outline: solid 3px gray;*/
	/*border-radius: 6px;*/
	margin: 32px 0 0 0;
	width: 100%;
	height: 50%;
}
#room {
	font-family: tile;
	font-size: 4vw;
	line-height: 1em;
}

/* Messages Box */
#msg {
	position: absolute;
	text-align: center;
	bottom: 60%;
	left: 0;
	width: 100%;
	font-size: 1.5em;
	background: black;
	color: white;
	padding: .5em 0 .5em 0;
	display: none;
}

/* Inventory section */
#inv {
	width: 80%;
	text-align: left;
	font-size: unset;
	left: 10%;
}
#inv #cells {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	table-layout: fixed;
}
#inv #cells td {
	outline: solid 2px lightgray;
	text-align: center;
	height: 25%;
	cursor: pointer;
}
#inv #cells td.equip {
	background: lightgray;
	outline: none;
	border: 2px solid black;
}
#inv #cells td#select {
	background: black;
	color: white;
	cursor: default;
}
#inv #cells td.invalid {
	outline: none;
}

/* Inspection section */
#inspect {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20%;
	/* outline: solid 2px gray; */
	line-height: 6px;
	display: block;
}
#inspect div {
	height: 100%;
	margin: 0;
	padding: 0;
}
#inspect #B {
	width: 100%;
}
#inspect #A {
	width: 100%;
	text-align: center;
}
#inspect h3 {
	margin: 0;
	padding: 1em 0 0 0;
	line-height: 0;
}
#inspect p {
	font-size: 13px;
	word-wrap: break-word;
    line-height: 1em;
}
#inspect #A img {
	height: 100%;
	float: left;
}

/* Game bevel effect */
#bevel {
	position: absolute;
	top: 0;
	left: 0;
	border: solid 16px black;
	border-radius: 24px;
	z-index: -1;
	background: white;
}

/* Buttons */
#buttons {
	position: absolute;
	bottom: 32px;
	right: 32px;
	width: 256px;
	height: 256px;
	transform: scale(0.5, 0.5);
	transform-origin: 100% 100%;
}
#buttons img {
	width: 256px;
	height: 256px;
}
#buttons img, map * {
	outline: none;
}
#buttons2 img {
	width: 75px;
	padding: 0;
	margin: 0;
}
#buttons2 {
	position: absolute;
    right: 20px;
    bottom: 16px;
}

/* D-pad */
area {
	cursor: pointer;
}

/* Actions Bar */
#actions {
	position: absolute;
	left: 0;
	top: 55%;
	width: 100%;
	height: 60px;
	text-align: center;
}
#actions span {
	font-family: "tile";
	color: white;
	background: black;
	border-radius: 100%;
	padding: 12px;
	font-size: 36px;
	margin: 0 4px 0 4px;
	cursor: pointer;
}
#actions p {
	outline: 2px solid gray;
	padding: 0 0 0 6px;
}
#actions p:hover {
	cursor: pointer;
}

/* Mouseover tooltip */
#tooltip {
	position: absolute;
	z-index: 1;
	background: black;
	color: white;
	border-radius: 4px;
	padding: 4px;
	border: solid white 2px;
	font-family: Consolas, monospace;
	font-size: 16px;
	top: 0px;
	left: 50%;
}

/* Special states */
.disabled {
	opacity: 0.2;
}
.hide {
	visibility: hidden;
	opacity: 0;
}
.invalid {
	opacity: 0.25;
	cursor: default;
}
.invalid:hover {
	cursor: default;
}

/* Death Image */
#death {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#death img {
	position: absolute;
	top: 32px;
	width: 100%;
	z-index: 10;
	left: 0;
}
#death button {
	border: none;
	background: black;
	padding: 1em;
	color: white;
	border-radius: 6px;
	font-family: Consolas, monospace;
	font-size: 16px;
	width: 100px;
	margin-top: 500px;
	cursor: pointer;
}


/* SMALLER SCREENS */
@media screen and (max-width: 600px) {
	#actions {
		top: 60%;
	}
	#stats img {
		height: 24px;
	}
	#death {
		width: 400%;
		left: -150%;
	}
}

/* DESKTOP ENVIRONMENT */
@media screen and (min-width: 1000px) {
	#room {
		font-size: 2em;
	}
	#stats div {
		font-size: 1.25em;
	}
	#inv {
		width: 50%;
		left: 25%;
		font-size: 1.5em;
	}
	#actions {
		top: unset;
		bottom: 64px;
	}
	#actions span {
		font-size: 75px;
	}
}
