@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Consolas", monospace;
	font-weight: bolder;
	height: 945px;
}

* {
	user-select: none;
	cursor: default;
}

.invalid {
	opacity: 0.25;
	cursor: default;
}
.invalid:hover {
	cursor: default;
}

#stats {
	position: absolute;
	width: 100%;
	height: 16px;
	top: 6px;
	left: 16px;
	font-size: .8em;
}

#stats div {
	padding: 0;
	margin: 0 2.5% 0 0;
	text-align: center;
	color: white;
	display: inline;
}
/* All sections */
#room, #inv {
	position: absolute;
	text-align: center;
	font-size: 25px;
	left: 0;
	top: 16px;
	/*outline: solid 3px gray;*/
	/*border-radius: 6px;*/
	margin: 32px 0 0 0;
	width: 100%;
	height: 50%;
}
#room {
	font-size: 5vw;
	line-height: 1em;
}

#msg {
	position: absolute;
	text-align: center;
	top: 60%;
	left: 0;
	width: 100%;
	font-size: 1.5em;
	background: black;
	color: white;
	padding: .5em 0 .5em 0;
}

/* Inventory section */
#inv {
	width: 80%;
	text-align: left;
	font-size: unset;
	left: 10%;
}
#inv #cells {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	table-layout: fixed;
}
#inv #cells td {
	outline: solid 2px lightgray;
	text-align: center;
	height: 25%;
	cursor: pointer;
}
#inv #cells td.equip {
	background: lightgray;
	outline: none;
	border: 2px solid black;
}
#inv #cells td#select {
	background: black;
	color: white;
	cursor: default;
}
#inv #inspect {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20%;
	outline: solid 2px gray;
	line-height: 6px;
	display: flex;
}
#inv #inspect div {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
}
#inv #inspect #B {
	width: 50%;
	overflow: hidden;
}
/* Icon columns */
#A {
	width: 310px;
}
#inv #inspect h3 {
	margin: 0;
	padding: 1em 0 0 0;
	line-height: 0;
}
#inv #inspect p {
	font-size: 13px;
	word-wrap: break-word;
    line-height: 1em;
}

#inv #inspect #A img {
	height: 100%;
	float: left;
}

#bevel {
	position: absolute;
	top: 16px;
	left: 0;
	border: solid 16px black;
	border-radius: 24px;
	z-index: -1;
	background: white;
}

#buttons {
	position: absolute;
	bottom: 32px;
	right: 32px;
	width: 256px;
	height: 256px;
	transform: scale(0.5, 0.5);
	transform-origin: 100% 100%;
}

#buttons img {
	width: 256px;
	height: 256px;
}

#buttons img, map * {
	outline: none;
}

area:hover {
	cursor: pointer;
}

#buttons2 img {
	width: 75px;
	padding: 0;
	margin: 0;
}

#buttons2 {
	position: absolute;
    left: 20px;
    bottom: 16px;
}

img:hover {
	cursor: pointer;
}

#actions {
	position: absolute;
	left: 10%;
	top: 45%;
	width: 70%;
	height: 25%;
	max-width: 300px;
}

#actions p {
	outline: 2px solid gray;
	padding: 0 0 0 6px;
}

#actions p:hover {
	cursor: pointer;
}


.disabled {
	opacity: 0.2;
}

/* SMALLER SCREENS */
@media screen and (min-width: 600px) {
	#room {
		font-size: 1.25em;
	}
	#buttons {
		transform: scale(.75, .75);
	}
}

/* DESKTOP ENVIRONMENT */
@media screen and (min-width: 1000px) {
	#room {
		font-size: 2em;
	}
	#stats div {
		font-size: 1.25em;
	}
	#inv {
		width: 50%;
		left: 25%;
		font-size: 1.5em;
	}
	#actions {
		top: 48px;
		left: 48px;
	}
}
